<table class="table table-hover table-striped table-bordered">
    <thead class="table-dark">
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Categoría</th>
            <th>Opciones</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let producto of productos">
            <td>{{producto.id}}</td>
            <td>{{producto.nombre}}</td>
            <td>{{producto.precio}}</td>
            <td>{{producto.categoria.nombre}}</td>
            <td>
                <button class="btn btn-primary" routerLink="/formulario/{{producto.id}}">Editar</button>
                <button class="btn btn-danger" (click)="borrar(producto.id)">Borrar</button>
            </td>
        </tr>
    </tbody>
    <tfoot class="table-dark">
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <button class="btn btn-primary" routerLink="/formulario">Añadir</button>
            </td>
        </tr>
    </tfoot>
</table>
