<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Opciones</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let producto of productos">
            <td>{{producto.id}}</td>
            <td>{{producto.nombre}}</td>
            <td>{{producto.precio}}</td>
            <td>
                <button routerLink="/formulario/{{producto.id}}">Editar</button>
                <button (click)="borrar(producto.id)">Borrar</button>
            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <button routerLink="/formulario">Añadir</button>
            </td>
        </tr>
    </tfoot>
</table>
